<mat-dialog-content class="mat-typography">
    <mat-card class="example-card">
        <mat-card-title>Working Experience</mat-card-title>
        <mat-card-subtitle>Enter your working experiences to be display on resume.</mat-card-subtitle>
        <mat-card-content>

            <form [formGroup]="experienceForm">
                <div formArrayName="expList">
                    <div *ngFor="let experience of expList.controls; let expIndex=index" style="margin-top: 20px;">
                        <h4><b>Experience Detail {{expIndex+1}}</b></h4>
                        <div [formGroupName]="expIndex">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-label>Company Name</mat-label>
                                        <input matInput formControlName="companyName">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-label>Designation</mat-label>
                                        <input matInput formControlName="designation">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <section class="example-section">
                                        <mat-checkbox class="example-margin" formControlName="isCurrentJob">Currently,
                                            I'm
                                            working here</mat-checkbox>
                                    </section>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <mat-form-field color="accent" class="example-full-width" appearance="fill">
                                        <mat-label>From</mat-label>
                                        <input matInput [matDatepicker]="picker1" formControlName="fromDate">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker1">
                                            <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <mat-form-field color="accent" class="example-full-width" appearance="fill">
                                        <mat-label>To</mat-label>
                                        <input matInput [matDatepicker]="picker2" [disabled]="disabled"
                                            formControlName="toDate">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                            <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Current Position</mat-label>
                                    <input matInput formControlName="position">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Grade</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                        </div> -->

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput formControlName="description"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2" *ngIf="expIndex>0">
                                    <button mat-mini-fab color="basic" aria-label="Example icon button with a home icon"
                                        (click)="removeExperience(expIndex)">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">
                                            remove_circle_outine
                                        </mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </form>
            <br>
            <div class="col-md-1">
                <button mat-raised-button color="basic" (click)="addExperience()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                    Add
                </button>
            </div>
            {{this.experienceForm.value | json}}
        </mat-card-content>
    </mat-card>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">Save Changes</button>
    </mat-dialog-actions>
</mat-dialog-content>