<mat-dialog-content class="mat-typography">
    <mat-card class="example-card">
        <mat-card-title>Education Qualifications
        </mat-card-title>
        <mat-card-subtitle>Enter your education details to be display on resume.</mat-card-subtitle>
        <mat-card-content>

            <div [formGroup]="educationForm">
                <div formArrayName="eduList">
                    <div *ngFor="let education of eduList.controls; let eduIndex=index" style="margin-top: 20px;">
                        <h4><b>Education Detail {{eduIndex+1}}</b></h4>
                        <div [formGroupName]="eduIndex">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Education Level</mat-label>
                                        <mat-select disableRipple id="{{ 'educationLevel' + eduIndex }}"
                                            formControlName="educationLevel">
                                            <mat-option value="1">Phd</mat-option>
                                            <mat-option value="2">Masters</mat-option>
                                            <mat-option value="3">Bachelors</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-label>Institution/School</mat-label>
                                        <input matInput formControlName="institute">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <mat-form-field color="accent" class="example-full-width" appearance="fill">
                                        <mat-label>From</mat-label>
                                        <input matInput [matDatepicker]="picker1" formControlName="fromDate">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker1">
                                            <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <mat-form-field color="accent" class="example-full-width" appearance="fill">
                                        <mat-label>To</mat-label>
                                        <input matInput [matDatepicker]="picker2" formControlName="toDate">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                            <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-label>Subject</mat-label>
                                        <input matInput formControlName="subject">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-label>Grade</mat-label>
                                        <input matInput formControlName="grade">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2" *ngIf="eduIndex>0">
                                    <button mat-mini-fab color="basic" aria-label="Example icon button with a home icon"
                                        (click)="removeEducation(eduIndex)">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">
                                            remove_circle_outine
                                        </mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                    </div>

                </div>
            </div>
            <br>
            <div class="col-md-1">
                <button mat-raised-button color="basic" (click)="addEducation()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                    Add
                </button>
            </div>
            <!-- {{this.educationForm.value | json}} -->
        </mat-card-content>
    </mat-card>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">Save Changes</button>
    </mat-dialog-actions>
</mat-dialog-content>