<mat-card>
    <mat-card-title>Search Candidates</mat-card-title>
    <mat-card-subtitle>Get all candidates for your preferences.</mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="searchCandidateForm">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="legacy" color="accent">
                        <mat-select [formControl]="skillMultiCtrl" placeholder="Skills" [multiple]="true" #multiSelect>
                            <mat-option>
                                <ngx-mat-select-search [formControl]="skillMultiFilterCtrl"></ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let skill of filteredSkillsMulti | async" [value]="skill">
                                {{skill.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="legacy" color="accent">
                        <mat-select [formControl]="eduMultiCtrl" placeholder="Education level" [multiple]="true"
                            #multiSelect>
                            <mat-option>
                                <ngx-mat-select-search [formControl]="eduMultiFilterCtrl"></ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let eduLevel of filteredEduMulti | async"
                                [value]="eduLevel.educationalLevel">
                                {{eduLevel.educationalLevel}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="legacy" color="accent">
                        <mat-select [formControl]="pqMultiCtrl" placeholder="Professional qualifications"
                            [multiple]="true" #multiSelect>
                            <mat-option>
                                <ngx-mat-select-search [formControl]="pqMultiFilterCtrl"></ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let pq of filteredPqMulti | async" [value]="pq.qualificationName">
                                {{pq.qualificationName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="legacy" color="accent">
                        <mat-label>Sector</mat-label>
                        <mat-select disableRipple formControlName="subSectorId">
                            <mat-option value="1">Software Engineering</mat-option>
                            <mat-option value="2">Masters</mat-option>
                            <mat-option value="3">Bachelors</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-1">
                    <mat-form-field appearance="legacy" color="accent">
                        <mat-label>Experience</mat-label>
                        <input matInput type="number" placeholder="Ex. 12" min="1" formControlName="experience">
                        <span matSuffix>Years</span>
                    </mat-form-field>
                </div>

                <div class="col-md-1">
                    <button mat-raised-button color="primary">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.resumeId}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Sector </th>
            <td mat-cell *matCellDef="let row"> {{row.subSectorName}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="experience">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
            <td mat-cell *matCellDef="let row"> {{row.experience}} </td>
        </ng-container>

        <ng-container matColumnDef="skills">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Skills </th>
            <td mat-cell *matCellDef="let row">
                {{row.skills}}
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="sub sector">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Sector </th>
            <td mat-cell *matCellDef="let row"> {{row.subSector}} </td>
        </ng-container> -->

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row" fxLayoutGap="5px">
                <div class="row">
                    <div class="col-md-6">
                        <a mat-mini-fab color="primary" class="edit-btn" [routerLink]="['profile', row.resumeId]"
                            matTooltip="Download Resume" matTooltipClass="example-tooltip-green">
                            <mat-icon>download</mat-icon>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a mat-mini-fab color="primary" class="add-btn" [routerLink]="['profile', row.resumeId]"
                            matTooltip="View Profile" matTooltipClass="example-tooltip-blue">
                            <mat-icon>description</mat-icon>
                        </a>
                    </div>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 15, 25, 100]" showFirstLastButtons aria-label="Select page of candidates">
    </mat-paginator>
</div>
<!-- <pre>{{searchCandidateForm.value | json }}</pre> -->