<mat-accordion class="example-headers-align">
    <form [formGroup]="createResumeParentForm" novalidate>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Job Seeker | Step 1
                </mat-panel-title>
                <mat-panel-description>
                    Enter your personal details
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- <app-personal-detail *ngIf="showPersonalDetailComponent" [formData]="createResumeParentForm"
                (onFormGroupChange)="onChange($event)"></app-personal-detail> -->

            <!-- PERSONAL DETAIL -->
            <mat-card class="example-card">
                <mat-card-title>Personal Details</mat-card-title>
                <mat-card-subtitle>Enter your personal details to be display on resume.</mat-card-subtitle>
                <mat-card-content>
                    <!-- <form [formGroup]="personalDetailForm"> -->

                    <!-- <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>First name</mat-label>
                                <input matInput formControlName="firstName">
                            </mat-form-field>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName">
                            </mat-form-field>
                        </div>

                    </div> -->

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Full Name</mat-label>
                                <input matInput formControlName="fullName" aria-label="enter full name">
                                <mat-error
                                    *ngIf="createResumeParentForm.controls['fullName'].errors && createResumeParentForm.controls['fullName'].hasError('required')">
                                    Please Enter Full Name
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" aria-label="enter date of birth">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error
                                    *ngIf="createResumeParentForm.controls['dateOfBirth'].errors && createResumeParentForm.controls['dateOfBirth'].hasError('required')">
                                    Please Enter DOB
                                </mat-error>
                            </mat-form-field>

                        </div>
                        <div class="col-md-3 col-sm-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="emailAddress" aria-label="enter email address">
                                <mat-error
                                    *ngIf="createResumeParentForm.controls['emailAddress'].errors && createResumeParentForm.controls['emailAddress'].hasError('required')">
                                    Please Enter Email
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Telephone</mat-label>
                                <input matInput type="tel" formControlName="phone" aria-label="enter telephone number">
                                <mat-error
                                    *ngIf="createResumeParentForm.controls['phone'].errors && createResumeParentForm.controls['phone'].hasError('required')">
                                    Please Enter Phone
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Gender</mat-label>
                                <mat-select disableRipple formControlName="gender" aria-label="select gender">
                                    <mat-option value="Male">Male</mat-option>
                                    <mat-option value="Female">Female</mat-option>
                                    <mat-option value="Other">Other</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="createResumeParentForm.controls['gender'].errors && createResumeParentForm.controls['gender'].hasError('required')">
                                    Please Enter Gender
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Address</mat-label>
                                <textarea matInput formControlName="address" aria-label="enter address"></textarea>
                                <mat-error
                                    *ngIf="createResumeParentForm.controls['address'].errors && createResumeParentForm.controls['address'].hasError('required')">
                                    Please Enter Address
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Nationality</mat-label>
                                <mat-select disableRipple formControlName="nationality" aria-label="select nationality">
                                    <mat-option value="Sri Lankan">Sri Lankan</mat-option>
                                    <mat-option value="UK">UK</mat-option>
                                    <mat-option value="Indian">Indian</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="createResumeParentForm.controls['nationality'].errors && createResumeParentForm.controls['nationality'].hasError('required')">
                                    Please Enter Nationality
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Civil Status</mat-label>
                                <mat-select disableRipple formControlName="civilStatus" aria-label="select civil status">
                                    <mat-option value="Married">Married</mat-option>
                                    <mat-option value="Unmarried">Unmarried</mat-option>
                                    <mat-option value="Divorced">Divorced</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="createResumeParentForm.controls['civilStatus'].errors && createResumeParentForm.controls['civilStatus'].hasError('required')">
                                    Please Enter Civil Status
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>LinkedIn Profile</mat-label>
                                <input matInput formControlName="linkedInUrl" aria-label="enter social profile link">
                                <mat-error
                                    *ngIf="createResumeParentForm.controls['linkedInUrl'].errors && createResumeParentForm.controls['linkedInUrl'].hasError('required')">
                                    Please Enter Social Profile
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description" aria-label="enter description"></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div *ngFor="let progressInfo of progressInfos">
                                <span>{{ progressInfo.fileName }}</span>
                                <mat-toolbar class="progress-bar">
                                    <mat-progress-bar color="accent" [value]="progressInfo.value">
                                    </mat-progress-bar>
                                    <span class="progress">{{ progressInfo.value }}%</span>
                                </mat-toolbar>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <!-- <mat-form-field> -->
                                    <div>
                                        <!-- <mat-toolbar> -->
                                        <!-- <input matInput
                                                [value]="selectedFileNames.length ? selectedFileNames : 'Select Profile Image'" /> -->

                                        <!-- <button mat-flat-button color="primary" [disabled]="!selectedFiles" (click)="uploadFiles()">
                                Upload
                            </button> -->
                                        <!-- </mat-toolbar> -->

                                        <!-- <input type="file" id="fileInput" name="fileInput" accept="image/*" multiple
                                                (change)="selectFiles($event)" /> -->

                                        <input type="file" class="form-control-file" (change)="fileChanged($event)"
                                            aria-describedby="fileHelpId">
                                    </div>
                                    <!-- </mat-form-field> -->
                                </div>


                                <div class="col-md-3">
                                    <img *ngFor='let preview of previews' [src]="preview" class="preview">
                                </div>
                            </div>
                            <div *ngIf="message.length" class="message">
                                <ul *ngFor="let msg of message; let i = index">
                                    <li>{{ msg }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- </form> -->
                </mat-card-content>
            </mat-card>
            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Job Seeker | Step 2
                </mat-panel-title>
                <mat-panel-description>
                    Enter your education details
                    <mat-icon>school</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <app-education-detail [educationForm]="createResumeParentForm" (onEduFormGroupChange)="onChange($event)"></app-education-detail> -->
            <!-- <div>
            <ng-template #container></ng-template>
        </div>

        <br>
        <div class="col-md-1">
            <button mat-raised-button color="basic" (click)="createComponent()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                Add
            </button>
        </div> -->


            <!-- EDUCATION PANEL -->
            <mat-card class="example-card">
                <mat-card-title>Education Qualifications
                </mat-card-title>
                <mat-card-subtitle>Enter your education details to be display on resume.</mat-card-subtitle>
                <mat-card-content>

                    <div formArrayName="educationalQualificationList">
                        <div *ngFor="let education of educationalQualificationList.controls; let eduIndex=index"
                            style="margin-top: 20px;">
                            <h4><b>Education Detail {{eduIndex+1}}</b></h4>
                            <div [formGroupName]="eduIndex">
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Education Level</mat-label>
                                            <mat-select disableRipple id="{{ 'educationalLevel' + eduIndex }}"
                                                formControlName="educationalLevel" aria-label="select educational level">
                                                <mat-option value="Phd">Phd</mat-option>
                                                <mat-option value="Masters">Masters</mat-option>
                                                <mat-option value="Bachelors">Bachelors</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="full-width" appearance="fill">
                                            <mat-label>Institution/School</mat-label>
                                            <input matInput formControlName="eduInstituteName" aria-label="enter institute name">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <mat-form-field color="accent" class="example-full-width" appearance="fill">

                                            <mat-label>From</mat-label>
                                            <input matInput type="number" formControlName="eduFromYear">
                                            <!-- <mat-select disableRipple formControlName="eduFromYear">
                                                <mat-option value="2017">2017</mat-option>
                                                <mat-option value="2018">2018</mat-option>
                                                <mat-option value="2019">2019</mat-option>
                                                <mat-option value="2020">2020</mat-option>
                                            </mat-select> -->


                                            <!-- <mat-label>From</mat-label>
                                            <input matInput [matDatepicker]="picker3" formControlName="eduFromYear">
                                            <mat-hint>MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker3">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker3></mat-datepicker> -->
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-sm-12">

                                        <mat-form-field color="accent" class="example-full-width" appearance="fill">

                                            <mat-label>To</mat-label>
                                            <input matInput type="number" formControlName="eduToYear">
                                            <!-- <mat-select disableRipple formControlName="eduToYear">
                                                <mat-option value="2017">2017</mat-option>
                                                <mat-option value="2018">2018</mat-option>
                                                <mat-option value="2019">2019</mat-option>
                                                <mat-option value="2020">2020</mat-option>
                                            </mat-select> -->

                                            <!-- <mat-label>To</mat-label>
                                            <input matInput [matDatepicker]="picker4" formControlName="eduToDate">
                                            <mat-hint>MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker4">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker4></mat-datepicker> -->

                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="full-width" appearance="fill">
                                            <mat-label>Subject</mat-label>
                                            <input matInput formControlName="subject">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="full-width" appearance="fill">
                                            <mat-label>Grade</mat-label>
                                            <input matInput formControlName="eduGrade">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2" *ngIf="eduIndex>0">
                                        <button mat-mini-fab color="basic"
                                            aria-label="Example icon button with a home icon"
                                            (click)="removeEducation(eduIndex)">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">
                                                remove_circle_outine
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                        <br>
                        <div class="col-md-1">
                            <button mat-raised-button color="basic" (click)="addEducation()">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                                Add
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Job Seeker | Step 3
                </mat-panel-title>
                <mat-panel-description>
                    Enter your experience
                    <mat-icon>business</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <div class="col-md-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Job Sector</mat-label>
                        <mat-select disableRipple>
                            <!-- <mat-option *ngFor="let sector of sectorsList | async" [value]="sector.sectorId">{{sector.sectorName}}</mat-option> -->
                            <mat-option value="2">IT</mat-option>
                            <mat-option value="3">Business</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Your Field</mat-label>
                        <mat-select disableRipple formControlName="subSectorId">
                            <mat-option value="1">Software Engineering</mat-option>
                            <mat-option value="2">Masters</mat-option>
                            <mat-option value="3">Bachelors</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="createResumeParentForm.controls['subSectorId'].errors && createResumeParentForm.controls['subSectorId'].hasError('required')">
                            Please Enter Job Sector
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Applying Position</mat-label>
                        <input matInput formControlName="jobTitle">
                        <mat-error
                            *ngIf="createResumeParentForm.controls['jobTitle'].errors && createResumeParentForm.controls['jobTitle'].hasError('required')">
                            Please Enter Position
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- <app-experience-detail [experienceForm]="createResumeParentForm" (onExpFormGroupChange)="onChange($event)"></app-experience-detail> -->

            <!-- <br>
        <div class="col-md-1">
            <button mat-raised-button color="basic">
                <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                Add
            </button>
        </div> -->

            <!-- EXPERIENCE -->

            <mat-card class="example-card">
                <mat-card-title>Working Experience</mat-card-title>
                <mat-card-subtitle>Enter your working experiences to be display on resume.</mat-card-subtitle>
                <mat-card-content>

                    <div formArrayName="workExperienceList">
                        <div *ngFor="let experience of workExperienceList.controls; let expIndex=index"
                            style="margin-top: 20px;">
                            <h4><b>Experience Detail {{expIndex+1}}</b></h4>
                            <div [formGroupName]="expIndex">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="full-width" appearance="fill">
                                            <mat-label>Company Name</mat-label>
                                            <input matInput formControlName="companyName">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="full-width" appearance="fill">
                                            <mat-label>Designation</mat-label>
                                            <input matInput formControlName="position">
                                        </mat-form-field>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-4">
                                        <section class="example-section">
                                            <mat-checkbox class="example-margin" formControlName="currentJob">
                                                Currently, I'm
                                                working here</mat-checkbox>
                                        </section>
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <mat-form-field color="accent" class="example-full-width" appearance="fill">
                                            <mat-label>From</mat-label>
                                            <input matInput [matDatepicker]="picker5" formControlName="startDate">
                                            <mat-hint>MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker5">
                                                <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker5></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <mat-form-field color="accent" class="example-full-width" appearance="fill">
                                            <mat-label>To</mat-label>
                                            <input matInput [matDatepicker]="picker6" [attr.disabled]="disabled"
                                                formControlName="endDate">
                                            <mat-hint>MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker6">
                                                <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker6></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <!-- <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Current Position</mat-label>
                                    <input matInput formControlName="position">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Grade</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                        </div> -->

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Description</mat-label>
                                            <textarea matInput formControlName="description"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2" *ngIf="expIndex>0">
                                        <button mat-mini-fab color="basic"
                                            aria-label="Example icon button with a home icon"
                                            (click)="removeExperience(expIndex)">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">
                                                remove_circle_outine
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-1">
                        <button mat-raised-button color="basic" (click)="addExperience()">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                            Add
                        </button>
                    </div>

                    <!-- {{this.experienceForm.value | json}} -->
                </mat-card-content>
            </mat-card>


            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Job Seeker | Step 4
                </mat-panel-title>
                <mat-panel-description>
                    Enter your professional qualifications
                    <mat-icon>book</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <app-professional-qualification></app-professional-qualification> -->

            <mat-card class="example-card">
                <mat-card-title>Professional Qualifications</mat-card-title>
                <mat-card-subtitle>Enter your professional qualifications to be display on resume.</mat-card-subtitle>
                <mat-card-content>

                    <div formArrayName="professionalQualificationList">
                        <div *ngFor="let pq of professionalQualificationList.controls; let pqIndex=index"
                            style="margin-top: 20px;">
                            <h4><b>New Professional Qualification {{pqIndex+1}}</b></h4>
                            <div [formGroupName]="pqIndex">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="full-width" appearance="fill">
                                            <mat-label>Qualification</mat-label>
                                            <input matInput formControlName="qualificationName">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="full-width" appearance="fill">
                                            <mat-label>Institution/School</mat-label>
                                            <input matInput formControlName="pqInstituteName">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field class="full-width" appearance="fill">
                                            <mat-label>Grade</mat-label>
                                            <input matInput formControlName="pqGrade">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-2" *ngIf="pqIndex>0">
                                        <button mat-mini-fab color="basic"
                                            aria-label="Example icon button with a home icon"
                                            (click)="removeQualification(pqIndex)">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">
                                                remove_circle_outine
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-1">
                        <button mat-raised-button color="basic" (click)="addQualification()">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                            Add
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Job Seeker | Step 5
                </mat-panel-title>
                <mat-panel-description>
                    Enter your skills
                    <mat-icon>star</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <app-skills></app-skills> -->

            <!-- <br>
        <div class="col-md-1">
            <button mat-raised-button color="basic">
                <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
                Add
            </button>
        </div> -->

            <!-- SKILLS -->
            <mat-card class="example-card">
                <mat-card-title>Skills</mat-card-title>
                <mat-card-subtitle>Select your skills to be display on resume.</mat-card-subtitle>
                <mat-card-content>
                    <p>
                        <mat-form-field>
                            <mat-select [formControl]="skillMultiCtrl" placeholder="Skills" [multiple]="true"
                                #multiSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="skillMultiFilterCtrl"></ngx-mat-select-search>
                                </mat-option>

                                <mat-option *ngFor="let skill of filteredSkillsMulti | async" [value]="skill">
                                    {{skill.skillDescription}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <!-- <ul *ngFor="let skill of skillMultiCtrl?.value">
                        <li>{{skill.name}}</li>
                    </ul> -->
                </mat-card-content>
            </mat-card>


            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>


        <mat-card class="example-card">
            <mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button class="submit-btn" (click)="submitForm(createResumeParentForm.value)"
                        [disabled]="createResumeParentForm.invalid" aria-label="save and download resume">Submit Resume</button>
                    <button mat-raised-button>Clear</button>
                    <!-- <button mat-raised-button (click)="generatePdf('download')">Download</button> -->
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </form>

</mat-accordion>

<!-- <pre>{{createResumeParentForm.value | json }}</pre> -->