<div class="login_container">
    <mat-card>
        <mat-card-content>
            <mat-toolbar class="login-toolbar" color="primary">Sign In</mat-toolbar>
            <br>
            <form class="form-group">
                <!-- <mat-form-field>
                <mat-icon matPrefix>email</mat-icon>
                <input autofocus type="email" matInput placeholder="Email *" formControlName="email">
                <mat-error *ngIf="checkValidation('email')">
                    {{ emaiErrors() }}

                </mat-error>
            </mat-form-field> -->


                <mat-form-field>
                    <mat-icon matPrefix>person_outline</mat-icon>
                    <input autofocus type="text" matInput placeholder="Username *" [(ngModel)]="username" name="username">
                    <!-- <mat-error *ngIf="checkValidation('username')">
                    {{ fieldRequired }}
                </mat-error> -->
                </mat-form-field>


                <mat-form-field>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" name="password" autocomplete="false" matInput placeholder="Password *"
                    [(ngModel)]="password">
                    <mat-hint>
                        <h5>Don't have account? Please <a href="/js/signUp">Sign Up</a> for free</h5>
                    </mat-hint>
                    <!-- <mat-error *ngIf="checkValidation('password')">
                    {{ getErrorPassword() }}
                </mat-error> -->
                </mat-form-field>

                <hr>
                <div>
                    
                    <button mat-raised-button class="submit-btn" (click)="systemLogin()">Login</button>
                    <!-- <a mat-raised-button class="submit-btn" href="/js/home">Login</a> -->
                    <!-- <button style="width:50%" [disabled]="registerForm.invalid" type="submit" mat-raised-button
                    color="primary">Submit</button> -->
                </div>
                
                <!-- <mat-card-actions>
                    <button mat-raised-button class="submit-btn">Submit Resume</button>
                    <button mat-raised-button>Clear</button>
                </mat-card-actions> -->
            </form>
        </mat-card-content>
    </mat-card>
</div>
<!-- <img src="../../../resources/images/Project_126-06.jpg"> -->