<!-- <div *ngIf="userAuthenticated">
  <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    JobSeeker.lk
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img class="avatar mat-elevation-z8" src="../assets/me2.jpeg" />

      <h4 class="name">Sandaka Wijesinghe</h4>
      <p class="designation">Senior Software Engineer</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>book</mat-icon>
        <span>Create Resume</span>
      </button>
      <button mat-button class="menu-button" routerLink="/signIn">
        <mat-icon>person</mat-icon>
        <span>Sign In</span>
      </button>
      <button mat-button class="menu-button" routerLink="/candidate_list">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Search</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/help">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div *ngIf="!userAuthenticated">
  <router-outlet></router-outlet>
</div> -->
<router-outlet></router-outlet>