<div id="content" #content>
    <form [formGroup]="candidateProfileForm" novalidate>
        <mat-card class="example-card">
            <mat-card-title>Your Resume Content</mat-card-title>
            <mat-card-subtitle>Candidate resume details are able to change using update resume option.
            </mat-card-subtitle>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-2">
                        <img class="avatar mat-elevation-z8" src="../../../assets/me2.jpeg" />
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <mat-form-field appearance="legacy">
                                <mat-label>Full Name</mat-label>
                                <input matInput formControlName="fullName">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="emailAddress">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Telephone</mat-label>
                                    <input matInput formControlName="phone">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Date of birth</mat-label>
                                    <input matInput formControlName="dateOfBirth">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Gender</mat-label>
                                    <input matInput formControlName="gender">
                                    <!-- <mat-select disableRipple formControlName="gender">
                                        <mat-option value="Male">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                        <mat-option value="Other">Other</mat-option>
                                    </mat-select> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput formControlName="address"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Nationality</mat-label>
                                    <input matInput formControlName="nationality">
                                    <!-- <mat-select disableRipple formControlName="nationality">
                                        <mat-option value="Sri Lankan">Sri Lankan</mat-option>
                                        <mat-option value="2">Option 2</mat-option>
                                        <mat-option value="3">Option 3</mat-option>
                                    </mat-select> -->
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Civil Status</mat-label>
                                    <input matInput formControlName="civilStatus">
                                    <!-- <mat-select disableRipple formControlName="civilStatus">
                                        <mat-option value="Married">Married</mat-option>
                                        <mat-option value="2">Option 2</mat-option>
                                        <mat-option value="3">Option 3</mat-option>
                                    </mat-select> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <mat-form-field appearance="legacy">
                                    <mat-label>LinkedIn Profile</mat-label>
                                    <input matInput formControlName="linkedInUrl">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput formControlName="description"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <br>

        <mat-card class="example-card">
            <mat-card-title>
                <h3 style="text-transform: uppercase;font-weight: 200;letter-spacing: 2px;">Educational</h3>
            </mat-card-title>
            <mat-card-content>
                <!-- <div formArrayName="educationalQualificationList"> -->
                <div *ngFor="let education of educationalQualificationList" style="margin-top: 20px;">


                    <!-- <div [formGroupName]="eduIndex"> -->
                    <div class="row">
                        <div class="col-md-2">
                            <mat-icon>school</mat-icon>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Level</mat-label>
                                        <input matInput value={{education.educationalLevel}}>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Institution/School</mat-label>
                                        <input matInput value={{education.eduInstituteName}}>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>From</mat-label>
                                        <input matInput value={{education.eduFromYear}}>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>To</mat-label>
                                        <input matInput value={{education.eduToYear}}>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Subject</mat-label>
                                        <input matInput value={{education.subject}}>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Grade</mat-label>
                                        <input matInput value={{education.eduGrade}}>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- </div> -->
                </div>
                <!-- </div> -->
            </mat-card-content>
        </mat-card>
        <br>


        <mat-card class="example-card">
            <mat-card-title>
                <h3 style="text-transform: uppercase;font-weight: 200;letter-spacing: 2px;">Experience</h3>
            </mat-card-title>
            <mat-card-content>
                <div *ngFor="let experience of workExperienceList" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-md-2">
                            <mat-icon>business</mat-icon>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Company</mat-label>
                                        <input matInput value="{{experience.companyName}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Designation</mat-label>
                                        <input matInput value="{{experience.position}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>From</mat-label>
                                        <input matInput value="{{experience.startDate}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>To</mat-label>
                                        <input matInput value="{{experience.endDate}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Description</mat-label>
                                        <input matInput value="{{experience.description}}">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <br>

        <mat-card class="example-card">
            <mat-card-title>
                <h3 style="text-transform: uppercase;font-weight: 200;letter-spacing: 2px;">Professional</h3>
            </mat-card-title>
            <mat-card-content>
                <div *ngFor="let qualification of professionalQualificationList" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-md-2">
                            <mat-icon>book</mat-icon>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Qualification</mat-label>
                                        <input matInput value="{{qualification.qualificationName}}">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Institute/School</mat-label>
                                        <input matInput value="{{qualification.pqInstituteName}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Grade</mat-label>
                                        <input matInput value="{{qualification.pqGrade}}">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <br>

        <mat-card class="example-card">
            <mat-card-title>
                <h3 style="text-transform: uppercase;font-weight: 200;letter-spacing: 2px;">Skills</h3>
            </mat-card-title>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-2">
                        <mat-icon>star</mat-icon>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">

                                <mat-list role="list" *ngFor="let skill of resumeSkillList">
                                    <mat-list-item role="listitem"><mat-icon>done</mat-icon> {{skill.skillName}}</mat-list-item>
                                    <!-- <mat-list-item role="listitem">Item 2</mat-list-item>
                                    <mat-list-item role="listitem">Item 3</mat-list-item> -->
                                  </mat-list>
                                  
                                <!-- <mat-form-field appearance="legacy">
                                    <mat-label>Skills</mat-label>
                                    <input matInput value="{{resumeSkillList}}">
                                </mat-form-field> -->
                            </div>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <br>

        <mat-card class="example-card">
            <mat-card-title>Download CV</mat-card-title>
            <mat-card-subtitle>Click to download your resume as PDF.</mat-card-subtitle>
            <mat-card-content>
                <div class="row">

                    <div class="col-md-5">
                        <div class="form-layout-footer">
                            <button mat-raised-button color="primary" (click)="generatePdf('download')">
                                <mat-icon>download</mat-icon> Download CV
                            </button>
                            <span style="color: white;">|</span>
                            <button mat-stroked-button color="primary">
                                <mat-icon>edit</mat-icon> Edit CV
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>