mat-form-field {
    width: 100%;
}

.avatar {
    margin-top: 16px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.edit-btn {
    background-color: #00838f;
    color: white;
}

.add-btn {
    background-color: #00588f;
    color: white;
}
