<mat-card class="example-card">
    <mat-card-title>Update Resume Content</mat-card-title>
    <mat-card-subtitle>Candidate resume details are able to change using update resume option.</mat-card-subtitle>
    <mat-card-content>
        <div class="row">
            <div class="col-md-2">
                <img class="avatar mat-elevation-z8" src="../../../assets/me2.jpeg" />
            </div>
            <div class="col-md-5">
                <div class="row">
                    <mat-form-field appearance="legacy">
                        <mat-label>Full Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>Email</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>Telephone</mat-label>
                            <input matInput value="0714619124">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>Date of birth</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>Gender</mat-label>
                            <input matInput value="Male" disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>Nationality</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>Civil status</mat-label>
                            <input matInput value="" disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <mat-label>LinkedIn</mat-label><br>
                        <a target="_blank"
                            href="https://www.linkedin.com/in/sandaka-geethaj-wijesinghe-70129610b/">https://www.linkedin.com/in/sandaka-geethaj-wijesinghe-70129610b/</a>
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <button mat-mini-fab class="edit-btn" (click)="openPersonalDetailDialog()" aria-label="open Personal Detail Dialog">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>

<mat-card class="example-card">
    <mat-card-content>
        <div class="row">
            <div class="col-md-2">
                <mat-icon>school</mat-icon>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="legacy">
                            <mat-label>Level</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-8">
                        <mat-form-field appearance="legacy">
                            <mat-label>Institution/School</mat-label>
                            <input matInput value="0714619124">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>From</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>To</mat-label>
                            <input matInput value="Male" disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <mat-form-field appearance="legacy">
                            <mat-label>Subject</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="legacy">
                            <mat-label>Grade</mat-label>
                            <input matInput value="" disabled>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="form-layout-footer">
                        <button mat-mini-fab class="edit-btn" (click)="openEducationDetailDialog()" aria-label="Example icon button with a plus one icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <span style="color: white;">|</span>
                        <button mat-mini-fab class="add-btn" aria-label="Example icon button with a plus one icon">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>


<mat-card class="example-card">
    <mat-card-content>
        <div class="row">
            <div class="col-md-2">
                <mat-icon>business</mat-icon>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>Company</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>Designation</mat-label>
                            <input matInput value="Software Engineer">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>From</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                            <mat-label>To</mat-label>
                            <input matInput value="Male" disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="legacy">
                            <mat-label>Description</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="form-layout-footer">
                        <button mat-mini-fab class="edit-btn" (click)="openExperienceDetailDialog()" aria-label="Example icon button with a plus one icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <span style="color: white;">|</span>
                        <button mat-mini-fab class="add-btn" aria-label="Example icon button with a plus one icon">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>

<mat-card class="example-card">
    <mat-card-content>
        <div class="row">
            <div class="col-md-2">
                <mat-icon>book</mat-icon>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="legacy">
                            <mat-label>Qualification</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-7">
                        <mat-form-field appearance="legacy">
                            <mat-label>Institute/School</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field appearance="legacy">
                            <mat-label>Grade</mat-label>
                            <input matInput value="" disabled>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="form-layout-footer">
                        <button mat-mini-fab class="edit-btn" (click)="openPqDetailDialog()" aria-label="Example icon button with a plus one icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <span style="color: white;">|</span>
                        <button mat-mini-fab class="add-btn" aria-label="Example icon button with a plus one icon">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>

<mat-card class="example-card">
    <mat-card-content>
        <div class="row">
            <div class="col-md-2">
                <mat-icon>star</mat-icon>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="legacy">
                            <mat-label>Skills</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="form-layout-footer">
                        <button mat-mini-fab class="edit-btn" (click)="openSkillsDetailDialog()" aria-label="Example icon button with a plus one icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <span style="color: white;">|</span>
                        <button mat-mini-fab class="add-btn" aria-label="Example icon button with a plus one icon">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>

<mat-card class="example-card">
    <mat-card-title>Download CV</mat-card-title>
    <mat-card-subtitle>Click to download your updated resume as PDF.</mat-card-subtitle>
    <mat-card-content>
        <div class="row">

            <div class="col-md-5">
                <div class="form-layout-footer">
                    <button mat-raised-button color="primary">
                        <mat-icon>download</mat-icon> Download CV
                    </button>
                    <span style="color: white;">|</span>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>