<mat-dialog-content class="mat-typography">

    <mat-card class="example-card">
        <mat-card-title>Personal Details</mat-card-title>
        <mat-card-subtitle>Enter your personal details to be display on resume.</mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="personalDetailForm">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>First name</mat-label>
                            <input matInput formControlName="firstName">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName">
                        </mat-form-field>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Full Name</mat-label>
                            <input matInput formControlName="fullName">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Telephone</mat-label>
                            <input matInput type="tel" formControlName="telephone">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Gender</mat-label>
                            <mat-select disableRipple formControlName="gender">
                                <mat-option value="1">Option 1</mat-option>
                                <mat-option value="2">Option 2</mat-option>
                                <mat-option value="3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Address</mat-label>
                            <textarea matInput formControlName="address"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Nationality</mat-label>
                            <mat-select disableRipple>
                                <mat-option value="1">Option 1</mat-option>
                                <mat-option value="2">Option 2</mat-option>
                                <mat-option value="3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Civil Status</mat-label>
                            <mat-select disableRipple>
                                <mat-option value="1">Option 1</mat-option>
                                <mat-option value="2">Option 2</mat-option>
                                <mat-option value="3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label>LinkedIn Profile</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div *ngFor="let progressInfo of progressInfos">
                            <span>{{ progressInfo.fileName }}</span>
                            <mat-toolbar class="progress-bar">
                                <mat-progress-bar color="accent" [value]="progressInfo.value"></mat-progress-bar>
                                <span class="progress">{{ progressInfo.value }}%</span>
                            </mat-toolbar>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <mat-form-field>
                                    <div>
                                        <mat-toolbar>
                                            <input matInput
                                                [value]="selectedFileNames.length ? selectedFileNames : 'Select Profile Image'" />
                                        </mat-toolbar>

                                        <input type="file" id="fileInput" name="fileInput" accept="image/*" multiple
                                            (change)="selectFiles($event)" />
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <img *ngFor='let preview of previews' [src]="preview" class="preview">
                            </div>
                        </div>
                        <div *ngIf="message.length" class="message">
                            <ul *ngFor="let msg of message; let i = index">
                                <li>{{ msg }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">Save Changes</button>
    </mat-dialog-actions>
</mat-dialog-content>