<div class="login_container">
    <mat-card>
        <mat-card-content>
            <mat-toolbar class="login-toolbar" color="primary">Sign Up</mat-toolbar>
            <br>
            <form>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-icon matPrefix>person_outline</mat-icon>
                            <input autofocus type="text" matInput placeholder="First Name" formControlName="firstName">
                            <!-- <mat-error *ngIf="checkValidation('username')">
                            {{ fieldRequired }}
                        </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-icon matPrefix>person_outline</mat-icon>
                            <input autofocus type="text" matInput placeholder="Last Name" formControlName="lastName">
                            <!-- <mat-error *ngIf="checkValidation('username')">
                            {{ fieldRequired }}
                        </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <mat-form-field>
                        <mat-icon matPrefix>email</mat-icon>
                        <input autofocus type="email" matInput placeholder="Email *" formControlName="email">
                        <!-- <mat-error *ngIf="checkValidation('email')">
                    {{ emaiErrors() }}

                </mat-error> -->
                    </mat-form-field>
                </div>


                <mat-form-field>
                    <mat-icon matPrefix>local_phone</mat-icon>
                    <input autofocus type="text" matInput placeholder="Mobile *" formControlName="telephone">


                    <!-- <mat-error *ngIf="checkValidation('username')">
                    {{ fieldRequired }}
                </mat-error> -->
                </mat-form-field>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-icon matPrefix>security</mat-icon>
                            <input autofocus type="email" matInput placeholder="Password *">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-icon matPrefix>verified_user</mat-icon>
                            <input autofocus type="email" matInput placeholder="Re enter password *"
                                formControlName="password">
                        </mat-form-field>
                    </div>

                    <mat-hint>
                        <h5>Already have an account? Please <a href="/js/signIn">Sign In</a></h5>
                    </mat-hint>
                </div>


                <!-- <mat-form-field>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" matInput placeholder="Password *"
                        formControlName="password">
                    <mat-hint>
                        <h5>Don't have account? Please <a href="/signUp">Sign up</a> for free</h5>
                    </mat-hint>
                    <mat-error *ngIf="checkValidation('password')">
                        {{ getErrorPassword() }}
                    </mat-error>
                </mat-form-field> -->

                <!-- <hr> -->
                <mat-divider></mat-divider>
                <br>
                <div>

                    <button mat-raised-button class="submit-btn">Register</button>
                    <!-- <button style="width:50%" [disabled]="registerForm.invalid" type="submit" mat-raised-button
                    color="primary">Submit</button> -->
                </div>

                <!-- <mat-card-actions>
                    <button mat-raised-button class="submit-btn">Submit Resume</button>
                    <button mat-raised-button>Clear</button>
                </mat-card-actions> -->
            </form>
        </mat-card-content>
    </mat-card>
</div>
<!-- <img src="../../../resources/images/Project_126-06.jpg"> -->