.login_container {
    background-image: url(../../../assets/lb.png);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    align-items: center;
    padding: 0;
    margin: 0;
    background-size: cover;
    display: block;
    position: absolute;
}

mat-card {
    width: 400px;
    height: 425px;
    margin-left: 4%;
    margin-top: 16.5%;
    opacity: 1;
}

mat-form-field {
    width: 100%;
}

.submit-btn {
    background-color: #00838f;
    color: white;
    // border: none; width: 110px; height: 35px;
}
